{% extends 'base.html' %}



{% block title %}
products
{% endblock title %}

{% block body %}

<div class="container mt-3">
<div class="row">

<div class="col-md-3" action="/orders" method="POST">
    <div class="card" style="width: 15rem;">
        <img src="static/images/refrigirator.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Refrigerator <b>₹ 5,000</b> </h5>
          <p class="card-text">Single Door 156 wats colling good..</p>
        </div>
        <div class="card-body">
          <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
        </div>
      </div>


</div>


<div class="col-md-3" action="/orders" method="POST">
  <div class="card" style="width: 15rem;">
    <img src="static/images/ac.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">A.C<b>₹ 11,000</b> </h5>
      <p class="card-text">its good cooling ac 1 Ton</p>
    </div>
    <div class="card-body">
      <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
    </div>
  </div>

</div>

<div class="col-md-3" action="/orders" method="POST">
  <div class="card" style="width: 15rem;">
    <img src="static/images/geyser.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Geyser <b>₹ 10,000</b> </h5>
      <p class="card-text">20Lts 20min heater with full compitabality</p>
    </div>
    <div class="card-body">
      <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
    </div>
  </div>

</div>

<div class="col-md-3" action="/orders" method="POST">
  <div class="card" style="width: 15rem;">
    <img src="static/images/washing-machine.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Whirlpool Washing machine<b>₹ 15,000</b> </h5>
      <p class="card-text">Wss Steam 8 Kg Star full automatic</p>
    </div>
    <div class="card-body">
      <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
    </div>
  </div>

</div>


<div class="container mt-5">
<div class="row">
<div class="col-md-3" action="/orders" method="POST">
  <div class="card" style="width: 15rem;">
    <img src="static/images/fan.jpg" class="card-img-top" alt="...">
    <div class="card-body" name="philips Celling Fan">
      <h5 class="card-title"> philips Celling Fan <b>₹ 5,499</b> </h5>
      <p class="card-text">Air 75W colour coustamizable</p>
    </div>
    <div class="card-body">
      <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
    </div>
  </div>

</div>
<div class="col-md-3" action="/orders" method="POST">
  <div class="card" style="width: 15rem;">
    <img src="static/images/TV.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sony Bravia Full HD <b>₹ 23,599</b> </h5>
      <p class="card-text">Android T.V, Ultra 4K, OLED & QLED</p>
    </div>
    <div class="card-body">
      <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
    </div>
  </div>

</div>

<div class="col-md-3" action="/orders" method="POST">
  <div class="card" style="width: 15rem;">
    <img src="static/images/laptop.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dell Inspairon 14 2-in-one laptop<b>₹ 60,000</b> </h5>
      <p class="card-text">i7 11th gen, 8Gb ram, 1TB SSD</p>
    </div>
    <div class="card-body">
      <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
    </div>
  </div>

</div>

<div class="col-md-3" action="/orders" method="POST">
  <div class="card" style="width: 15rem;">
    <img src="static/images/redmi.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Redmi 10 Prime <b>₹ 12,499</b> </h5>
      <p class="card-text">4GB Ram 64GB Space colour black</p>
    </div>
    <div class="card-body">
      <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
    </div>
  </div>

</div>

</div>


<div class="container mt-5">
  <div class="row">
  <div class="col-md-3" action="/orders" method="POST">
    <div class="card" style="width: 15rem;">
      <img src="static/images/PC.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lenovo IdeaCenter 3i Intel PC<b>₹ 26,700</b> </h5>
        <p class="card-text">Single Door 156 wats colling good..</p>
      </div>
      <div class="card-body">
        <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
      </div>
    </div>
  
  </div>
  <div class="col-md-3" action="/orders" method="POST">
    <div class="card" style="width: 15rem;">
      <img src="static/images/toaster.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Usha PT3720 Pop-up Toaster<b>₹ 1,399</b> </h5>
        <p class="card-text">Pastic shockproof body, power on indicator</p>
      </div>
      <div class="card-body">
        <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
      </div>
    </div>
  
  </div>
  
  <div class="col-md-3" action="/orders" method="POST">
    <div class="card" style="width: 15rem;">
      <img src="static/images/air-purifire.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dyson Air purifier<b>₹ 19,000</b> </h5>
        <p class="card-text">Only Purifier with vacumm-sealed</p>
      </div>
      <div class="card-body">
        <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
      </div>
    </div>
  
  </div>
  
  <div class="col-md-3" action="/orders" method="POST">
    <div class="card" style="width: 15rem;">
      <img src="static/images/bluetooth.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Philip saudio 2.1 Bluetooth Speaker <b>₹ 5000</b> </h5>
        <p class="card-text">5.1 bluetooth channel 120W full surround</p>
      </div>
      <div class="card-body">
        <a href="/orders"><button type="submit" class="btn btn-success btn-sm btn-block">Buy Now</button></a>
      </div>
    </div>
  
  </div>
  
  </div>


{% endblock  %}