{% extends 'base.html' %}

{% block title %}
Signup
{% endblock title %}

{% block body %}
<div class="container mt-3">

<div class="row">


<div class="col-md-4">

</div>

<div class="col-md-4 jumbotron">
  <img src="static/images/signup.png" class="container-fluid" width="30" height="150">
<br>


{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



  {% endfor %}
  {% endif %}
  {% endwith %}

<form action="/signup" method="POST">

  <div class="form-group">
    <label for="username">UserName</label>
    <input type="text" class="form-control" id="username" name="username" required >

  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>


  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  
  <button type="submit" class="btn btn-success btn-sm btn-block">Signup</button>
</form>
<br>
Already a User ? <a href="/login">Login</a>

</div>

<div class="col-md-4">

</div>


</div>

</div>



{% endblock body %}